<IfModule mod_rewrite.c>

# RewriteEngine On
# RewriteCond %{http_host} ^yourdomain.com [NC]
# RewriteRule ^(.*)$ http://www.yourdomain.com/$1 [R=301,L]


# >>> rewrite comment.x -> /s/include/km-ajax-comment.php

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_REFERER} !^$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule \/([a-z]+)\.x$ /include/ajax/km-ajax-$1.php [L]


# >>> rewrite combo file

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^((?:.(?!combo\/))+\/)combo\/--((?:[^-]|(?:-(?!-)))+)--\/(\d+\.(?:js|css))$ /include/static/combo.php?path=$1&files=$2&name=$3 [L]


# >>> rewrite abc.min.v123.3.4.js -> abc.js

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f 
# RewriteRule ^((?:.(?!(?:\.min|\.v(?:\d+\.)*\d+)))*[^.])(?:\.min)?(?:\.v\d+(?:\.\d+)*)?\.(js|css|png|jpg|gif|bmp|swf)$ $1.$2 [L]
RewriteRule ^(.+)\.v\d+(?:\.\d+)*\.(js|css|png|jpg|gif|bmp|swf)$ $1.$2 [L]


# >>> wordpress

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

</IfModule>


Header unset Pragma
FileETag None
Header unset ETag
Header set Server "Elune"

<FilesMatch "\.(js|css|ico|pdf|jpg|jpeg|png|gif)$">
# Header set Cache-Control "max-age=2592000"
Header set Cache-Control "max-age=0"
</FilesMatch>

<FilesMatch "\.(js|css)$">
AddDefaultCharset utf-8
</FilesMatch>


<IfModule mod_mime.c>
AddType image/x-icon .ico
AddType application/x-javascript .js
AddType application/json .x
AddType text/css .css
AddType image/gif .gif
AddType image/png .png
AddType image/jpeg .jpg .jpeg
</IfModule>


<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE application/x-javascript application/json text/css image/gif image/png image/jpeg
</IfModule>


<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault M0
ExpiresByType image/x-icon M2592000
ExpiresByType text/javascript M2592000
ExpiresByType application/x-javascript M2592000
ExpiresByType text/css M2592000
ExpiresByType image/gif M2592000
ExpiresByType image/png M2592000
ExpiresByType image/jpeg M2592000
</IfModule>