<IfModule mod_rewrite.c>


RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f

# mvp/event-bus.php -> handler.php?mod=mvp/event-bus
RewriteRule ([a-z0-9-]+(?:\/[a-z0-9-]+)+)-slice\.php$ handler.php?mod=$1 [NC,L]


</IfModule>