<!DOCTYPE HTML>
<html lang="en-US">
<head>

<meta charset="UTF-8">
<title>Neuron</title>

<link rel="stylesheet" href="/{{config.assets}}/reset.css" />
<link rel="stylesheet" href="/{{config.assets}}/markdown.css" />

<script>
var 
__loaderConfig = {
    appBase: "{{config.appbase}}/",
    libBase: "{{config.libbase}}/",
    server:"{{config.server}}"
};

</script>
<script>
function $(){
    return 'blah';
};

var NR = {
    _old: true
},

OLD_NR = NR;

</script>

<script src="/{{config.libbase}}/neuron.js"></script>
<script>NR.__loader.init();</script>