<!--

template file for unit test meta page

-->

{{> components/head.html}}

<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 500px;
    }
</style>

</head>
<body>

<div id="editor">{{demoslice.html}}</div>
<div id="demo-container">{{{demoslice.html}}}</div>

<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>

</body>
</html>
