{{> components/head.html}}

</head>
<body>
<div class="nav">
	<ul>
		<li><a href="/docs.html" title="">Documentations</a></li>
		<li><a href="/tests.html" title="">Unit Tests</a></li>
		<li><a href="/demos.html" title="">Demos</a></li>
	</ul>
</div>
<div class="crumbs"><a href="/">&laquo; 回到首页</a></div>
<div class="container">
    <div class="menu-wrap">
		<div class="menus-box">
        	<ul id="menus" class="menus"></ul>
		</div>
    </div>
    <div id="content" class="content markdown-body"></div>
</div>


{{> components/menu.html}}

<script type="text/javascript">

NR.require({
    mod: "nc::demos",
    config: {
        demos: {{{demos.json}}}
    }
});

</script>
</body>
</html>