{{> components/head.html}}

</head>
<body>
<div class="nav">
	<ul>
		<li><a href="/docs.html" title="">Documentations</a></li>
		<li><a href="/tests.html" title="">Unit Tests</a></li>
		<li><a href="/demos.html" title="">Demos</a></li>
	</ul>
</div>

<div class="container">
    <div class="menu-wrap">
		<div class="menus-box">
        <ul id="menus" class="menus"></ul>
		</div>
    </div>
    
    <div id="content" class="content markdown-body">{{#doc}}{{{doc.html}}}{{/doc}}</div>
</div>


{{> components/menu.html}}

<script type="text/javascript">

NR.require({
    mod: "nc::docs",
    config: {
        docs: {{{docs.json}}},
        menu_map: {

            // level 0
            guide: {
                cn: "新手入门",
                prior: 99
            },

            api: {
                cn: "API 文档",
                prior: 98
            },

            // level 1
            neuron: {
                cn: "Neuron 核心",
                prior: 99
            },

            io: {
                cn: "数据请求",
                prior: 98
            },

            // level 2
            lang: {
                prior: 99
            },

            dom: {
                prior: 98
            },

            biz: {
                prior: -1
            }

        }
    }
});

</script>
</body>
</html>