<!DOCTYPE HTML>
<html lang="en-US">
<head>

<meta charset="UTF-8">
<title>Neuron</title>

<link rel="stylesheet" href="/{{site.assets}}/reset.css" />
<link rel="stylesheet" href="/{{site.assets}}/markdown.css" />
<link rel="stylesheet" href="/{{site.assets}}/layout.css" />
<link rel="stylesheet" href="/{{site.assets}}/menu.css" />

<script>
var 
__loaderConfig = {
    appBase: "{{site.appbase}}/",
    libBase: "{{#page.jscoverage}}jscoverage_{{/page.jscoverage}}{{site.libbase}}/",
    server:"{{site.server}}"
};

</script>
<script>
function $(){
    return 'blah';
};

var NR = {
    _old: true
},

OLD_NR = NR;

</script>

<script src="/{{#page.jscoverage}}jscoverage_{{/page.jscoverage}}{{site.libbase}}/neuron.js"></script>
<script>NR.__loader.init();</script>