{{> head.html}}

<link rel="stylesheet" href="/_assets/style.css" />
</head>
<body>

<div id="docs"></div>
<div id="test"></div>

<div>
{{{page.content}}}
</div>

<script type="text/javascript">
var docs = {{{site.docsjson}}};
var tests = {{{site.testsjson}}};
</script>
<script type="text/javascript">

(function($) {
    function renderList(wrap,data,renderItem){
		var wrap = $(wrap);
		var ul;
		var el;
		if(data.children){
			ul = $.create("ul");
			ul.inject(wrap);

			el = $.create("h3");
			el.inject(ul);
			if(data.name == wrap.attr("id")){
				el.html(data.name);
			}else{
				renderItem(data,el);
			}
			data.children.forEach(function(child){
				var li = $.create("li");
				li.inject(ul);
				renderList(li,child,renderItem);
			});
		}else{
			renderItem(data,wrap);
		}
	};

	renderList("#docs",docs,function(data,parent){
		$.create("a").attr("href",data.path).html(data.basename).inject(parent);
	});
	
	renderList("#test",tests,function(data,parent){
		$.create("a").attr("href",data.path).html(data.basename).inject(parent);
		$.create("a").attr("href","/jscoverage_lib/jscoverage.html?"+data.path).css("margin-left",10).html("cov").inject(parent);
	});

    
})(NR.DOM);

</script>
</body>
</html>
