{{> head.html}}

</head>
<body>

<div class="container">
    <div id="menus" class="menus"></div>
    <div id="content" class="content"></div>
</div>

<div>
{{{page.content}}}
</div>

<script type="text/x-neurontpl" id="J_tpl-menu-lis"><?js

    it.forEach(function(li) {
        if(li.has_children){
            ?><li class="item"><span class="text">@{li.name}</span><?js 
            
            if(it.path){
                ?><a href="@{li.path}" class="J_menu-link"></a><?js
            }
            ?></li><?js

        }else{
            ?><li class="item"><a href="@{li.path}" class="J_menu-link">@{li.name}</a></li><?js
        }
        
    });

?></script>

<script type="text/javascript">

NR.require({
    mod: "nc::index",
    config: {
        docs: {{{site.docsjson}}},
        tests: {{{site.testsjson}}}
    }
});

</script>
</body>
</html>
