{{> components/head.ut.html}}

<script type="text/javascript" src="/tools/jasmine/jasmine.js"></script>
<script type="text/javascript" src="/tools/jasmine/jasmine-html.js"></script>
<script>
// tools

function provide(name, loaded){
    var args;

    name = NR.makeArray(name);

    runs(function() {
        NR.provide(name, function(NR, Mod) {
            args = arguments;
        });
    });

    waitsFor(function() {
        return !!args;
    });

    runs(function() {
        loaded.apply(null, args);
    });
};

function async(mod, loaded, options, events){
    var 
    EVENTS = ['success', 'error'],

    method, res,

    need_async = arguments.length === 4,
    
    succeed,

    fake_events = {},

    event_res = {},

    final_event_type;

    EVENTS.forEach(function(type) {
        fake_events[type] = function() {
            event_res[type] = arguments;
            final_event_type = type;
        };
    });

    runs(function() {
        NR.provide(mod, function(NR, Method) {
            method = Method;
        });
    });

    waitsFor(function() {
        return !!method;
    });

    runs(function() {
        if(loaded){
            loaded(method);
        }

        if(need_async){
            new method(options).on(fake_events).send();
        }
    });

    if(need_async){
        waitsFor(function() {
            return !!final_event_type;
        });

        runs(function() {
            EVENTS.forEach(function(type) {
                var
                callback = events[type];

                if(type === final_event_type){
                    callback && callback.apply(null, event_res[type]);
                }
            });
        });
    }
};

</script>
<link rel="stylesheet" href="/tools/jasmine/jasmine.css" />
</head>
<body>

{{{page.content}}}

<script type="text/javascript">
(function () {
    jasmine.CATCH_EXCEPTIONS = false;

    var jasmineEnv = jasmine.getEnv();
    jasmineEnv.updateInterval = 1000;
    var htmlReporter = new jasmine.HtmlReporter();
    jasmineEnv.addReporter(htmlReporter);
    jasmineEnv.specFilter = function (spec) {
        return htmlReporter.specFilter(spec);
    };
    var currentWindowOnload = window.onload;
    window.onload = function () {
        if (currentWindowOnload) {
            currentWindowOnload();
        }
        execJasmine();
    };

    function execJasmine() {
        jasmineEnv.execute();
    }
})();
</script>
</body>
</html>
